<!-- <nz-collapse nzExpandIconPosition="end">
  <nz-collapse-panel
    [nzHeader]="collapseHeaderDashboard"
    nzActive="true"
    nzDisabled="false"
  > -->
<div class="dashboard-container">
  <h2>Statistics</h2>
  <app-user-dashboard></app-user-dashboard>
</div>
<!-- </nz-collapse-panel>
  <nz-collapse-panel
    [nzHeader]="collapseHeaderEdit"
    nzActive="true"
    nzDisabled="false"
  > -->
<!-- <h2>Add/Edit</h2> -->
<!-- <app-user-edit></app-user-edit> -->
<!-- </nz-collapse-panel> -->

<!-- <nz-collapse-panel
    [nzHeader]="collapseHeaderList"
    nzActive="true"
    nzDisabled="false"
    scrollTop
    scrollLeft
  > -->
<!-- <div style="height: 445px; overflow-y: auto"> -->

<div class="dashboard-container">
  <h2>Users</h2>
  <app-user-list></app-user-list>
</div>

<!-- </div> -->
<!-- </nz-collapse-panel>
</nz-collapse> -->

<!-- <ng-template #collapseHeaderDashboard
  ><h3>
    <nz-icon
      nzType="bar-chart"
      nzTheme="outline"
      nzTwotoneColor="#eb2f96"
      style="margin-right: 5px"
    />
    Statistics Dashboard
  </h3></ng-template
>
<ng-template #collapseHeaderEdit
  ><h3>
    <nz-icon
      nzType="edit"
      nzTheme="outline"
      nzTwotoneColor="#eb2f96"
      style="margin-right: 5px"
    />
    Create/Update
  </h3></ng-template
>
<ng-template #collapseHeaderList
  ><h3>
    <nz-icon
      nzType="ordered-list"
      nzTheme="outline"
      nzTwotoneColor="#eb2f96"
      style="margin-right: 5px"
    />
    Users
  </h3></ng-template
> -->
