<page-header
  [title]="isCustomer ? 'Customers' : 'Suppliers'"
  [breadcrumbs]="isCustomer ? ['People', 'Customers'] : ['People', 'Suppliers']"
  [extra]="{
    route: 'add',
    text: 'Add ' + (isCustomer ? 'Customer' : 'Supplier')
  }"
  [showSearch]="true"
  (onSearch)="searchValue = $event"
  [searchDebounce]="0"
></page-header>

<nz-table
  #partyTable
  [nzData]="parties"
  nzSize="middle"
  nzShowSizeChanger
  [nzLoading]="_loaderService.isLoadingActive() | async"
  [nzShowTotal]="rangeTemplate"
>
  <thead>
    <tr>
      @for (column of partyColumns; track column) {
      <th
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
        [nzShowFilter]="column.filterFn"
        [nzShowSort]="column.sortFn"
      >
        {{ column.name }}
      </th>
      }
      <th nzWidth="150px">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (party of partyTable.data; track party) {
    <tr>
      <td>{{ party.code }}</td>
      <td>{{ party.name }}</td>
      <td>{{ party.gstin }}</td>
      <td>
        <nz-tag *ngIf="party.isActive" nzColor="green">Active</nz-tag>
        <nz-tag *ngIf="!party.isActive" nzColor="red">Inactive</nz-tag>
      </td>
      <td>
        @if(party.code !== 'CASH'){
        <div class="flex gap-2">
          <button
            nz-tooltip="Edit"
            [routerLink]="
              '/home/party/' +
              (isCustomer ? 'customer' : 'supplier') +
              '/edit/' +
              party.id
            "
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            nz-tooltip="Delete"
            nz-popconfirm="Are you sure to delete?"
            (nzOnConfirm)="deleteParty(party.id)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
          <nz-switch
            nz-tooltip="Activate/Deactivate"
            nzSize="small"
            [ngModel]="party.isActive"
            (ngModelChange)="toggleActive(party.id!, $event)"
          ></nz-switch>
        </div>
        }
      </td>
    </tr>
    }
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
