<page-header
  title="Products"
  [breadcrumbs]="['Inventory', 'Products']"
  [extra]="{ route: 'add', text: 'Add Product' }"
  [showSearch]="true"
  (onSearch)="searchValue = $event"
></page-header>

<nz-table
  #productTable
  [nzData]="products"
  [nzLoading]="_loaderService.isLoadingActive() | async"
  nzSize="middle"
  [nzTotal]="total"
  nzShowSizeChanger
>
  <thead>
    <tr>
      <th
        *ngFor="let column of productColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
        [nzShowFilter]="column.filterFn"
        [nzShowSort]="column.sortFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productTable.data">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category?.name }} - {{ product.unit?.name }}</td>
      <td>{{ product.buyingPrice }}</td>
      <td>{{ product.marginPct }}%</td>
      <td>{{ product.sellingPrice }}</td>
      <td>
        {{ taxTypes[product.taxPreference] }} - {{ product.taxPct }}
        {{ product.taxCode ? "- " + product.taxCode : "" }}
      </td>
      <td>
        <nz-tag *ngIf="product.isActive" nzColor="green">Active</nz-tag>
        <nz-tag *ngIf="!product.isActive" nzColor="red">Inactive</nz-tag>
      </td>
      <td>
        <div class="flex gap-2">
          <button nz-tooltip="Edit" [routerLink]="['edit', product.productId]">
            <!-- routerLink="/home/product/edit/{{ product.productId }}" -->
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            nz-tooltip="Delete"
            nz-popconfirm="Are you sure delete this Product?"
            (nzOnConfirm)="deleteProduct(product.productId!)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
          <nz-switch
            nz-tooltip="Activate/Deactivate"
            nzSize="small"
            [ngModel]="product.isActive"
            (ngModelChange)="toggleActive(product.productId!, $event)"
          ></nz-switch>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
