<nz-page-header [nzTitle]="title" nzBackIcon class="!p-0 !py-3">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item *ngFor="let crumbs of breadcrumbs">{{
      crumbs
    }}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <nz-input-group [nzSuffix]="suffixIconSearch" *ngIf="showSearch">
      <input
        type="text"
        nz-input
        placeholder="Input search text"
        class="w-60"
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange($event)"
      />
    </nz-input-group>
    <button *ngIf="extra" nz-button nzType="primary" [routerLink]="extra.route">
      <span nz-icon nzType="plus"></span>
      {{ extra.text }}
    </button>
  </nz-page-header-extra>
</nz-page-header>

<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
