<page-header
  [title]="invoiceTypesDict[invoiceType]"
  [breadcrumbs]="['Transactions', invoiceTypesDict[invoiceType], 'Add']"
></page-header>

<form
  nz-form
  [formGroup]="outwardInvoiceForm"
  class="pb-10"
  nzLayout="vertical"
>
  <div class="grid grid-cols-3 gap-x-4">
    <nz-form-item>
      <nz-form-label>Invoice Number</nz-form-label>
      <nz-form-control>
        <input nz-input disabled value="TBD" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="invoiceDate" nzRequired>Invoice Date</nz-form-label>
      <nz-form-control nzErrorTip="Please select a valid date">
        <nz-date-picker
          formControlName="invoiceDate"
          id="invoiceDate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="customer" nzRequired>Customer</nz-form-label>
      <nz-form-control nzErrorTip="Please select a customer">
        <nz-select
          formControlName="customer"
          id="customer"
          nzPlaceHolder="Please select a Customer"
          nzShowSearch
        >
          <nz-option
            *ngFor="let s of customers"
            [nzValue]="s.id"
            [nzLabel]="s.name"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="referenceNumber">Reference Number</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="referenceNumber"
          id="referenceNumber"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="referenceDate">Reference Date</nz-form-label>
      <nz-form-control>
        <nz-date-picker
          formControlName="referenceDate"
          id="referenceDate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    @if (!isCashCustomer) {
    <nz-form-item>
      <nz-form-label nzFor="referenceDate">Customer Details</nz-form-label>
      <nz-form-control>
        <div class="flex flex-col justify-center">
          <button nz-button nzBlock (click)="isCashCustomerModal = true">
            Add Customer Details
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
    }
  </div>

  <div class="mb-4">
    <!-- Line Items -->
    <nz-table
      style="max-width: calc(100% - 30px)"
      [nzTitle]="tableHeader"
      nzTemplateMode
      [nzBordered]="true"
      [nzSize]="'small'"
      [nzShowPagination]="false"
      [nzShowSizeChanger]="false"
      [nzShowQuickJumper]="false"
    >
      <thead>
        <tr>
          <th nzWidth="250px">Tag No. / Product / HSN</th>
          <th nzWidth="150px">Qty / Unit</th>
          <th nzWidth="150px">Rate</th>
          <th nzWidth="150px">Price</th>
          <th nzWidth="150px" *ngIf="config.discountLevel === 'item'">
            Discount
          </th>
          <th nzWidth="150px">Tax</th>
          <th nzWidth="150px">Line Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="lineItems">
          <tr
            *ngFor="let item of lineItems.controls; let i = index"
            [formGroupName]="i"
            class="text-right"
          >
            <td>
              <nz-form-item class="col-span-2">
                <div class="flex gap-2 items-center">
                  <input
                    nz-input
                    formControlName="gtn"
                    placeholder="Tag No."
                    (blur)="getGtnDetails(item.value.gtn, item)"
                    class="max-w-[120px]"
                  />
                  {{ getProductName(item.value.productId) }}
                  {{ getProductHSN(item.value.productId) }}
                </div>
              </nz-form-item>
            </td>

            <td>
              <div class="flex items-center">
                <nz-input-number
                  [nzMin]="1"
                  type="number"
                  formControlName="qty"
                  class="border-transparent"
                  [nzFormatter]="numberFormatter"
                  [nzMax]="getQtyOnHand(item.value.productId)"
                />
                <span>{{ getUnit(item.value.productId) }}</span>
              </div>
            </td>

            <td>
              <nz-input-number
                [nzMin]="0"
                formControlName="rate"
                [nzFormatter]="removeDecimal"
                ><span nzInputPrefix>₹</span></nz-input-number
              >
              <!-- [nzFormatter]="formatter" -->
            </td>

            <td>{{ item.value.price.toIndianCurrencyFormat() }}</td>

            <td *ngIf="config.discountLevel === 'item'">
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <nz-input-number
                  [nzMin]="0"
                  formControlName="discount"
                  class="border-r-0! rounded-r-none"
                />
              </nz-input-group>

              <ng-template #addOnAfterTemplate>
                <nz-select formControlName="disPctOrAmt" class="m-0">
                  <nz-option nzLabel="%" nzValue="pct"></nz-option>
                  <nz-option nzLabel="₹" nzValue="amt"></nz-option>
                </nz-select>
              </ng-template>
            </td>

            <td>{{ getProductTax(item.value.productId) }}%</td>

            <td class="relative">
              {{ item.value.lineTotal.toIndianCurrencyFormat() }}
              <span
                (click)="removeLineItem(i)"
                nz-icon
                nzType="delete"
                class="absolute top-4 -right-6"
                *ngIf="lineItems.length > 1"
              ></span>
            </td>
          </tr>
        </ng-container>
        <tr
          class="dark:bg-dark text-right font-medium dark:font-bold bg-stone-50"
        >
          <td>Total</td>
          <td>
            {{ info.totalQty }}
          </td>
          <td colspan="2">
            {{ info.totalPrice.toIndianCurrencyFormat() }}
          </td>
          <td *ngIf="config.discountLevel === 'item'">
            {{ info.discount.toIndianCurrencyFormat() }}
          </td>
          <td>{{ info.taxAmount.toIndianCurrencyFormat() }}</td>
          <td>
            {{ (info.subtotal - info.discount).toIndianCurrencyFormat() }}
          </td>
        </tr>
        <tr *ngIf="config.discountLevel === 'transaction'">
          <td colspan="6">
            <div class="flex justify-end gap-2">
              <label for="discount">Discount:</label>
              <nz-form-item class="mb-0 max-w-[300px]">
                <nz-form-control>
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                    <nz-input-number
                      [nzMin]="0"
                      formControlName="discount"
                      class="border-r-0 rounded-r-none"
                      nzPlaceHolder="Enter Discount"
                    />
                  </nz-input-group>
                </nz-form-control>
                <ng-template #addOnAfterTemplate>
                  <nz-select formControlName="disPctOrAmt" class="m-0">
                    <nz-option nzLabel="%" nzValue="pct"></nz-option>
                    <nz-option nzLabel="₹" nzValue="amt"></nz-option>
                  </nz-select>
                </ng-template>
              </nz-form-item>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Info -->
  <div class="grid grid-cols-1 justify-between gap-10 mb-10">
    <div class="grid grid-cols-2 gap-5">
      <div class="w-full mb-0! block">
        <nz-form-label nzFor="notes">Notes</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            formControlName="notes"
            id="notes"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          ></textarea>
        </nz-form-control>
      </div>

      <div class="w-full mb-0! block">
        <nz-form-label nzFor="terms">Terms</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            formControlName="terms"
            id="terms"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          ></textarea>
        </nz-form-control>
      </div>
    </div>
    <!-- <div class="bg-[#fafafa] dark:bg-black px-4 py-2 rounded-md">
      <div class="grid grid-flow-col gap-5 h-full">
        <div class="grid grid-rows-5 gap-5 items-center">
          <span>Total Quantity</span>
          <span>Sub Total</span>
          <span *ngIf="config.discountLevel === 'transaction'">Discount</span>
          <span>Tax Amount</span>
          <span class="text-base font-semibold">Net Amount</span>
        </div>

        <div class="grid grid-rows-5 gap-5 items-center">
          <nz-form-item
            class="row-start-3 mb-0"
            *ngIf="config.discountLevel === 'transaction'"
          >
            <nz-form-control>
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <nz-input-number
                  [nzMin]="0"
                  formControlName="discount"
                  class="border-r-0 rounded-r-none"
                  nzPlaceHolder="Enter Discount"
                />
              </nz-input-group>
            </nz-form-control>
            <ng-template #addOnAfterTemplate>
              <nz-select formControlName="disPctOrAmt" class="m-0">
                <nz-option nzLabel="%" nzValue="pct"></nz-option>
                <nz-option nzLabel="₹" nzValue="amt"></nz-option>
              </nz-select>
            </ng-template>
          </nz-form-item>
        </div>

        <div class="grid grid-rows-5 gap-5 text-right items-center">
          <span>{{ info.totalQty.toIndianNumberFormat() }}</span>
          <span *ngIf="config.discountLevel === 'item'">{{
            info.subtotal.toIndianCurrencyFormat()
          }}</span>
          <span *ngIf="config.discountLevel === 'transaction'">{{
            (info.subtotal - info.taxAmount).toIndianCurrencyFormat()
          }}</span>
          <span *ngIf="config.discountLevel === 'transaction'">{{
            (info.discount === 0
              ? info.discount
              : "-" + info.discount
            ).toIndianCurrencyFormat()
          }}</span>
          <span>{{ info.taxAmount.toIndianCurrencyFormat() }}</span>
          <span class="text-base font-semibold">{{
            (info.subtotal - info.discount).toIndianCurrencyFormat()
          }}</span>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Table Header -->
  <ng-template #tableHeader>
    <div class="flex justify-between">
      <span class="text-base font-bold">Line Items</span>
      <div class="space-x-4">
        <button
          type="button"
          nz-button
          nzType="dashed"
          nzSize="small"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <span nz-icon nzType="setting"></span>
        </button>
        <button
          type="button"
          nz-button
          nzType="dashed"
          nzSize="small"
          (click)="addLineItem()"
        >
          <span nz-icon nzType="plus"></span> Add Line Item
        </button>
      </div>
    </div>
  </ng-template>
</form>

<div
  class="sticky bg-white dark:bg-dark -left-4 p-3 -m-4 flex justify-end shadow-top"
  style="width: calc(100% + 32px)"
>
  <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div
    class="bg-white dark:bg-dark-sec p-4 shadow-lg border dark:border-slate-900 dark:shadow-black"
  >
    <label class="block">Discount Level</label>
    <nz-radio-group
      [(ngModel)]="config.discountLevel"
      (ngModelChange)="onDiscountLevelChange()"
      class="flex flex-col gap-2"
    >
      <label nz-radio nzValue="item">At Line Item Level</label>
      <label nz-radio nzValue="transaction">At Transaction Level</label>
    </nz-radio-group>
  </div>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="isCashCustomerModal"
  nzTitle="Customer Details"
  nzOkText="Add"
  (nzOnOk)="isCashCustomerModal = false"
  (nzOnCancel)="isCashCustomerModal = false"
  [nzKeyboard]="false"
>
  <ng-container *nzModalContent>
    <div class="flex flex-col gap-1">
      <label for="searchCust">Search Customer</label>
      <nz-select id="searchCust" nzShowSearch nzServerSearch></nz-select>
    </div>
    <nz-divider></nz-divider>
    <form [formGroup]="customerForm" nz-form nzLayout="vertical">
      <div class="grid grid-cols-2 gap-2">
        <nz-form-item>
          <nz-form-label nzFor="firstName" nzRequired>First Name</nz-form-label>
          <nz-form-control>
            <div class="flex">
              <nz-select formControlName="salutation" class="max-w-[60px]">
                <nz-option nzLabel="Mr." nzValue="mr"></nz-option>
                <nz-option nzLabel="Ms." nzValue="ms"></nz-option>
                <nz-option nzLabel="Mrs." nzValue="mrs"></nz-option>
              </nz-select>
              <input nz-input formControlName="firstName" id="firstName" />
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="lastName">Last Name</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="lastName" id="lastName" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <nz-form-item>
          <nz-form-label nzFor="mobile" nzRequired>Mobile</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="mobile" id="mobile" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="email">Email</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label nzFor="addressLine1">Address Line 1</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="addressLine1" id="addressLine1" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="addressLine2">Address Line 2</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="addressLine2" id="addressLine2" />
        </nz-form-control>
      </nz-form-item>

      <div class="grid grid-cols-2 gap-2">
        <nz-form-item>
          <nz-form-label nzFor="area">Area</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="area" id="area" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="city">City</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="city" id="city" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <nz-form-item>
          <nz-form-label nzFor="state">State</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="state" id="state" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="country">Country</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="country" id="country" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label nzFor="postalCode">Postal Code</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="postalCode" id="postalCode" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
