// table td { width: 20em; border: 1px solid black; }
nz-table th:nth-child(3) { text-align: end; }
nz-table th:nth-child(4) { text-align: end; }
nz-table th:nth-child(5) { text-align: end; }

nz-table td:nth-child(3) { text-align: end; }
nz-table td:nth-child(4) { text-align: end; }
nz-table td:nth-child(5) { text-align: end; }
