<page-header
  title="Stock"
  [breadcrumbs]="['Transactions', 'Stock']"
  [extra]="{ route: 'add', text: 'Add Stock' }"
></page-header>

<nz-table
  class="mt-4"
  #productTable
  [nzData]="stocks"
  [nzLoading]="_loaderService.isLoadingActive() | async"
  nzSize="middle"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  nzShowSizeChanger
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzShowTotal]="rangeTemplate"
>
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Invoice Date</th>
      <th>Total Qty</th>
      <th>Total Amount</th>
      <!-- <th>Year ID</th> -->
      <th nzWidth="150px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of productTable.data">
      <td>{{ stock.invoiceNumber }}</td>
      <td>{{ stock.invoiceDate | date : "dd-MM-yyyy" }}</td>
      <td>{{ stock.totalQty.toIndianNumberFormat() }}</td>
      <td>{{ stock.totalAmount.toIndianCurrencyFormat() }}</td>
      <!-- <td>{{ product.yearId }}</td> -->
      <td class="space-x-2">
        <!-- <button nz-tooltip="Edit" [routerLink]="['edit', purchase.invoiceId]">
          <i nz-icon nzType="edit"></i>
        </button> -->
        <button
          nz-tooltip="Delete"
          nz-popconfirm="Are you sure want to delete?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteInvoice(stock.invoiceId!)"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #rangeTemplate let-range="range" let-total>
  Displaying {{ range[0] }} to {{ range[1] }} of {{ total }}
</ng-template>
