.dashboard-container {
  padding: 0 1rem 0 1rem;
}

.dashboard-item {
  padding: 0;
  border-left: 2px solid rgb(24, 144, 255);
  /* border-right: 2px solid gray; */
  border-radius: 6px;
}

.vl {
  border-left: 1px solid darkgray;
  height: 3rem;
  position: absolute;
  left: 25%;
  /* margin-left: -3px; */
  top: 0.5rem;
}

/* .ant-divider-horizontal {
  margin: 1rem 0;
} */
