<page-header
  [title]="'Organizations'"
  [breadcrumbs]="['Organization', 'List']"
  [extra]="{
    route: '/home/organization/add',
    text: 'Add Organization'
  }"
  [showSearch]="true"
  (onSearch)="searchValue = $event"
  [searchDebounce]="0"
></page-header>

<nz-table
  #orgTable
  [nzData]="organizations"
  nzSize="middle"
  nzShowSizeChanger
  [nzLoading]="_loaderService.isLoadingActive() | async"
  [nzShowTotal]="rangeTemplate"
>
  <thead>
    <tr>
      @for (column of orgColumns; track column) {
      <th
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
        [nzShowFilter]="column.filterFn"
        [nzShowSort]="column.sortFn"
      >
        {{ column.name }}
      </th>
      }
      <th nzWidth="150px">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (org of orgTable.data; track org) {
    <tr>
      <td>{{ org.code }}</td>
      <td>{{ org.name }}</td>
      <td>{{ org.description ? org.description : "-" }}</td>
      <td>
        <nz-tag *ngIf="org.isActive" nzColor="green">Active</nz-tag>
        <nz-tag *ngIf="!org.isActive" nzColor="red">Inactive</nz-tag>
      </td>
      <td>
        <div class="space-x-2">
          <button nz-tooltip="Info" (click)="openInfoDrawer(org.companyId!)">
            <i nz-icon nzType="info-circle"></i>
          </button>
          <button
            nz-tooltip="Edit"
            routerLink="/home/organization/edit/{{ org.companyId }}"
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            [disabled]="org.companyId === selectedOrganization.companyId"
            nz-tooltip="Delete"
            nz-popconfirm="Are you sure to delete?"
            (nzOnConfirm)="deleteOrganization(org.companyId!)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
          <nz-switch
            nz-tooltip="Activate/Deactivate"
            nzSize="small"
            [nzDisabled]="org.companyId === selectedOrganization.companyId"
            [ngModel]="org.isActive"
            (ngModelChange)="toggleActive(org.companyId!, $event)"
          ></nz-switch>
        </div>
      </td>
    </tr>
    }
  </tbody>
</nz-table>

<info-drawer
  [isVisible]="isInfoDrawerVisible"
  [title]="selectedInfoOrganization.name + '\'s Information'"
  [data]="selectedInfoOrganization"
  (onClose)="isInfoDrawerVisible = false"
></info-drawer>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
