<nz-page-header nzTitle="Product Categories" nzBackIcon class="!p-0 !py-3">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Inventory</nz-breadcrumb-item>
    <nz-breadcrumb-item>Product Categories</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button
      nz-button
      nzType="primary"
      (click)="addNewCategory()"
      [disabled]="editId == 'new'"
    >
      <span nz-icon nzType="plus"></span>
      Add Category
    </button>
  </nz-page-header-extra>
</nz-page-header>

<nz-table
  #editRowTable
  [nzData]="productCategories"
  nzSize="middle"
  nzShowSizeChanger
  [nzLoading]="_loaderService.isLoadingActive() | async"
  [nzShowTotal]="rangeTemplate"
  [nzTotal]="total"
>
  <thead>
    <tr>
      <th>Code</th>
      <th>Category Name</th>
      <th>Description</th>
      <th nzWidth="10%">Status</th>
      <th nzWidth="150px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let category of editRowTable.data"
      class="editable-row"
      [ngClass]="{
        'bg-stone-200 !bg-opacity-50 dark:bg-dark-sec dark:!bg-opacity-100':
          category.categoryId == editId
      }"
    >
      <td>
        <div
          [hidden]="editId === category.categoryId"
          class="px-3 py-[5px]"
          [ngClass]="{ 'editable-cell': editId === null }"
          (click)="editId === null && startEdit(category.categoryId!, 'code')"
        >
          {{ category.code }}
        </div>
        <input
          [hidden]="editId !== category.categoryId"
          type="text"
          nz-input
          [(ngModel)]="editData.code"
          [id]="'code' + category.categoryId"
        />
      </td>
      <td>
        <div
          [hidden]="editId === category.categoryId"
          class="px-3 py-[5px]"
          [ngClass]="{ 'editable-cell': editId === null }"
          (click)="editId === null && startEdit(category.categoryId!, 'name')"
        >
          {{ category.name }}
        </div>
        <input
          [hidden]="editId !== category.categoryId"
          type="text"
          nz-input
          [(ngModel)]="editData.name"
          [id]="'name' + category.categoryId"
        />
      </td>
      <td>
        <div [hidden]="editId === category.categoryId" class="px-3 py-[5px]">
          {{ category.description }}
        </div>
        <input
          [hidden]="editId !== category.categoryId"
          type="text"
          nz-input
          [(ngModel)]="editData.description"
          [id]="'description' + category.categoryId"
        />
      </td>
      <td>
        <nz-tag *ngIf="category.isActive" nzColor="green">Active</nz-tag>
        <nz-tag *ngIf="!category.isActive" nzColor="red">Inactive</nz-tag>
      </td>
      <td>
        @if(category.code !== 'DEFAULT') {
        <div class="space-x-2">
          <span
            [hidden]="editId === category.categoryId"
            nz-icon
            nzType="edit"
            nz-tooltip="Edit"
            (click)="
              editId === null && startEdit(category.categoryId!, 'shortName')
            "
            [ngClass]="{ '!text-gray-500': editId !== null }"
          ></span>
          <span
            [hidden]="editId === category.categoryId"
            nz-icon
            nzType="delete"
            nz-tooltip="Delete"
            nz-popconfirm
            nzPopconfirmTitle="Sure to delete?"
            (nzOnConfirm)="deleteCategory(category.categoryId!)"
          ></span>
          <nz-switch
            nz-tooltip="Activate/Deactivate"
            [hidden]="editId === category.categoryId"
            nzSize="small"
            [ngModel]="category.isActive"
            (ngModelChange)="toggleActive(category.categoryId!, $event)"
          ></nz-switch>
          <span
            [hidden]="editId !== category.categoryId"
            nz-icon
            nzType="check"
            nz-tooltip="Save"
            (click)="editId === 'new' ? saveNewCategory() : saveEdit()"
          ></span>
          <span
            [hidden]="editId !== category.categoryId"
            nz-icon
            nzType="close"
            nz-tooltip="Cancel"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure?"
            (nzOnConfirm)="cancelEdit()"
          ></span>
        </div>
        }
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>
