@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-hard: 0 3px 6px -4px oklch(0 0 0 / 12.16%),
    0 6px 16px oklch(0 0 0 / 7.84%), 0 9px 28px 8px oklch(0 0 0 / 5.1%);

  --color-primary: oklch(0.4935 0.1447 252.21);
  --color-dark: oklch(0.2393 0 0);
  --color-dark-sec: oklch(0.2686 0 0);

  --animate-meteor: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.ant-table-cell:not(.nz-disable-td) {
  .anticon-check {
    @apply text-green-400;
  }

  .anticon-edit {
    @apply text-blue-400;
  }

  .anticon-info-circle {
    @apply text-yellow-400;
  }

  .anticon-delete,
  .anticon-close {
    @apply text-red-400;
  }

  .anticon-printer {
    @apply text-cyan-400;
  }

  .ant-switch {
    @apply flex items-center justify-center;
    background-image: linear-gradient(
        to right,
        rgb(212, 88, 88),
        rgb(212, 88, 88)
      ),
      linear-gradient(to right, #fff, #fff);
    transition: background-image 0.3s ease-in-out !important;
  }
  .ant-switch-checked {
    background-image: linear-gradient(
        to right,
        rgb(19, 196, 84),
        rgb(19, 196, 84)
      ),
      linear-gradient(to right, #fff, #fff);
  }
  &:last-child {
    div:not(.ant-input-number-handler-wrap) {
      @apply flex items-center;
      button:not(:last-child) {
        height: 18px;
      }
    }
  }
}

.sidebar-logo {
  @apply relative h-16 pl-6 overflow-hidden transition-all duration-300;
  line-height: 4rem;
  img {
    @apply inline-block h-9;
    vertical-align: middle;
  }
  h1 {
    @apply inline-block ml-3 text-white font-semibold text-lg;
  }
}

.theme-switcher {
  @apply absolute bottom-10 right-10 z-50 shadow-hard p-3 rounded-full bg-white dark:bg-gray-400;
  > svg {
    @apply transition-all duration-300;
  }
  &:hover > svg {
    @apply fill-primary;
  }
}
